<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <title>Login Page</title>
  </head>
  <body>

    <section class="container forms">
      <div class="form login">
        <div class="form-content">
          <header>Login</header>

          <!-- Tu formulario -->
          <form class="forms" id="formLogin" action="/login" method="POST">
            <div class="field input-field">
              <input type="text" id="username" name="username" placeholder="Usuario" class="form-control" required>
            </div>
            <div class="field input-field">
              <input type="password" id="password" name="password" placeholder="Contraseña" class="form-control" required>
            </div>
            <div class="field button-field">
              <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>
            </div>
          </form>

          <div class="form-link">
            <span>¿No tienes una cuenta?
              <a href="/register" class="w-100 btn btn-lg btn-bd-primary">Regístrate</a></span>
          </div>
        </div>
      </div>
    </section>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(alert) { %>
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text:'<%= alertMessage %>',
          icon:'<%= alertIcon %>',
          showConfirmButton: <%= showConfirmButton %>,
          timer: <%= timer %>
        }).then(()=>{
          window.location = '/<%= ruta %>'
        })
      </script>
    <% } %>

  </body>
</html>